*{
    padding: 0;
    margin: 0;
}

body{
    font-family: Helvetica, 'Trebuchet MS' sans-serif;
    background: #fff url(../img/bg.png);
    margin: 15px;
}

#container{
    background: #ede9cc;
}

#topo{
    background: #dbcd87;
    height: 15.4em;
    min-height: 250px;
}
